{
  "env": {
		"test": {
      "presets": [["@babel/env"], "@babel/react"],
			"plugins": ["@babel/proposal-object-rest-spread"]
    },
		"development": {
      "presets": [["@babel/env"], "@babel/react"],
			"plugins": ["@babel/proposal-object-rest-spread"]
    }
  }
}
